#container{
    min-width: 1080px;
    position: relative;
}

/*头部 开始*/
.nav{
    border-bottom: thin solid #D2D2D2;
    margin: 0 20px;
    font-size: 16px;
}

.nav .left-side{
    display: inline-block;
    margin: 14px 0px;
}

.left-side .item{
    position: relative;
    color: #100F17;
    padding: 0 20px;
}

.left-side .item::after{
    content: '';
    position: absolute;
    padding-left: 4px;
    opacity: .2;
}

.left-side .item:hover::after{
    content: '/#';
}

.left-side.blog-active .item.blog::after,
.left-side.me-active .item.me::after,
.left-side.exp-active .item.exp::after{
    content: '/#';
}

.left-side.blog-active .item.blog:hover::after,
.left-side.me-active .item.me:hover::after,
.left-side.exp-active .item.exp:hover::after{
    opacity: .5;
}

.nav .right-side{
    display: inline-block;
    float: right;
    margin: 14px 0px 14px 20px;
    font-family: STZhongsong;
}

.right-side .old-text{
    opacity: .5;
}



/*头部 结束*/


/*内容 开始*/
.content-wrapper{
    padding: 10px 20px;
    position: relative;
    min-width: 1040px;
}

/*ME 开始*/
.me-wrapper .intro-wrapper,
.me-wrapper .contact-wrapper{
    display: inline-block;
    vertical-align: top;
    padding-top: 28px;
    min-width: 440px;
    max-width: 520px;
}

.intro-wrapper{
    position: relative;
    height: 400px;
    padding-left: 20px;
    padding-right: 40px;
}

.intro-wrapper .di-line{
    position: absolute;
    top: 40px;
    right: 0;
    width: 1px;
    height: 200px;
    background: #d8d8d8;

}

.intro-wrapper .info{
    padding-bottom: 24px;
    font-size: 16px;
}

.info .avatar{
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 6px;
    margin-right: 10px;
    border: 1px solid #979797;
    border-radius: 50%;
    background: #F3F3F3;

}

.intro-wrapper .simple-exp{
    font-size: 16px;
    padding-bottom: 20px;
}

.simple-exp .exp-time{
    padding-right: 12px;
}

.intro-wrapper .tags{
    width: 100%;
    font-size: 16px;
    padding-bottom: 20px;
}

.intro-wrapper .tags .tag{
    padding-right: 10px;
}

.contact-wrapper{
    margin-left: 40px;
}

.contact-wrapper .title{
    font-family: STZhongsong;
    font-size: 60px;
    margin-top: -14px;
    padding-bottom: 14px;
    opacity: .4;
    line-height: 1;
}

.contact-list div{
    padding-bottom: 12px;
    font-size: 16px;
}

.contact-list .wechat span:first-child{
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
}

.contact-list .wechat-info{
    display: inline-block;
}

.contact-list .wechat-info .tips{
    display: block;

}



/*ME 结束*/


/*EXP 开始*/

.exp-wrapper{
    position: relative;
}

.exp-wrapper .show-con-area{
    position: relative;
    display: inline-block;
    width: 800px;
    height: 500px;
    margin-right: 60px;
    /*background: #f0f0f0;*/
}

.show-con-area .di-line{
    position: absolute;
    top: 40px;
    right: -40px;
    width: 1px;
    height: 420px;
    background: #d8d8d8;
}

.exp-wrapper .timeline-area{
    display: inline-block;
    position: absolute;
    /*top: 0px;*/
    right: 0px;
    width: 240px;
    height: 500px;
    overflow: auto;
}

.timeline-wrapper{
    position: relative;
}

.timeline-wrapper .timeline-line{
    position: absolute;
    width: 1px;
    height: 100%;
    background: #ccc;
    left: 20px;
}

.timeline-dots-wrapper .timeline-dot{
    display: inline-block;
    position: relative;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 12px;
    min-height: 50px;
}

.timeline-dot.frozen .dot-time{
    opacity: .4;
}

.timeline-dot .dot{
    position: absolute;
    left: 16px;
}

.timeline-dot .dot-intro{
    position: absolute;
    text-align: left;
    left: 44px;
    top: -6px;
}

.timeline-dot .dot-time{

}

.timeline-dot .dot-title{
    font-size: 12px;
    color: #A0A0A3;
    width: 116px;
}

/*detail另外css*/
/*EXP 结束*/

/*BLOG 开始*/
.blog-wrapper{
    position: relative;
}

.blog-wrapper .papers-wrapper{
    position: relative;
    display: inline-block;
    width: 540px;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-wrapper .other-wrapper{
    display: inline-block;
    /*width: 440px;*/
}

.papers-wrapper .paper-item{
    padding: 20px 0 10px;
    -webkit-transition: padding .4s, opacity .3s;
    transition: padding .4s, opacity .3s;
    /*padding-bottom: 40px;*/
}

.papers-wrapper.will-return .paper-item.read-this{
    opacity: 1;
}

.papers-wrapper.will-return .paper-item{
    opacity: 0;
}

.paper-item .title{
    -webkit-transition: opacity .3s, height .4s, padding .4s;
    transition: opacity .3s, height .4s, padding .4s;
    height: 40px;
    line-height: 40px;
    opacity: .8;
}

.paper-item:hover .title{
    opacity: .9;
}

.paper-item .title a{
    font-family: STZhongsong;
    font-size: 22px;
}

.paper-item .title a::after{
    content: '/#';
    opacity: 0;
    font-size: 18px;
    padding-left: 4px;
    /*-webkit-transition: opacity .3s;*/
    /*transition: opacity .3s;*/
}

.paper-item .title a:hover::after{
    opacity: .2;
}

.paper-item .summary{
    font-size: 16px;
    line-height: 26px;
    opacity: .7;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    cursor: default;
}

.paper-item:hover .summary{
    opacity: .9;
}

.paper-item .read{
    font-family: STZhongsong;
    font-size: 22px;
    line-height: 26px;
    padding-left: 10px;
    opacity: .3;
}

.paper-item .read:hover{
    opacity: .4;
}

.papers-wrapper .di-line{
    position: absolute;
    top: 30px;
    right: 0;
    width: 1px;
    height: 92%;
    background: #d8d8d8;
}

/*read paper*/
.papers-wrapper.will-read-paper .paper-item .title{
    opacity: 0;
    height: 0;
}

.papers-wrapper.will-read-paper .paper-item{
    padding: 0;
}

.papers-wrapper.will-read-paper .paper-item.read-this{
    padding: 10px 0 20px;
}

.papers-wrapper.will-read-paper .paper-item.read-this .title{
    padding: 20px 0 0;
    line-height: 20px;
    height: auto;
    opacity: 1;
}

.papers-wrapper .paper-item .summary-h{
    -webkit-transition: height .4s, opacity .3s;
    transition: height .4s, opacity .3s;
}

.papers-wrapper.will-read-paper .paper-item .summary-h{
    opacity: 0;
    height: 0;
}


.papers-wrapper.read-paper .paper-item,
.papers-wrapper.read-paper .paper-item.read-this .summary-h{
    display: none;
}

.papers-wrapper.read-paper .paper-item.read-this{
    display: block;
}

/*文章info*/
.papers-wrapper .paper-item .info{
    display: none;
    opacity: 0;
    font-family: STZhongsong;
    color: #100F17;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.papers-wrapper.will-read-paper .paper-item.read-this .info{
    display: block;
}

.papers-wrapper.read-paper .paper-item.read-this .info{
    opacity: .4;
}



/*单篇文章*/
.papers-wrapper .paper{
    display: none;
    opacity: 0;
    font-size: 16px;
    line-height: 34px;
    padding-bottom: 140px;
    -webkit-transition: opacity .3s ease-out, -webkit-transform .4s;
    transition: opacity .3s ease-out, transform .4s;
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-10px);
}

.papers-wrapper.will-read-paper .paper{
    display: block;
}

.papers-wrapper.read-paper .paper{
    -webkit-transform: translate(0,0px);
    transform: translate(0,0px);
    opacity: 1;
}

.papers-wrapper .paper p,
.papers-wrapper .paper br{
    color: #100F17;
    -webkit-transition: color .3s, background .3s;
    transition: color .3s, background .3s;
}

/*选中文字*/
.papers-wrapper .paper-content p::selection,
.papers-wrapper .paper-content br::selection{
    color: #979797;
    background: #100F17;
}

.papers-wrapper .paper .bottom-return{
    font-family: STZhongsong;
    color: #100F17;
    opacity: .4;
}

.papers-wrapper .paper-content.selected p,
.papers-wrapper .paper-content.selected br{
    color: rgba(16, 15, 23, 0.43);
}

.papers-wrapper .paper-content.selected p::selection{
    /*color: #100F17;*/
    /*background: rgba(16, 15, 23, 0);*/
}

.papers-wrapper .paper .bottom-return:hover{
    opacity: .8;
}


/*other-wrapper*/
.blog-wrapper .other-wrapper{
    position: absolute;
    top: 70px;
    right: 32%;
    margin-right: -11px;
}

.blog-wrapper .other-wrapper.read-paper{
    top: 100px;
    margin-right: 0px;
}

.blog-wrapper .other-wrapper .other-con{
    position: fixed;
}

.blog-wrapper .other-wrapper p{
    font-family: STZhongsong;
    font-size: 22px;
    text-align: center;
    width: 22px;
    line-height: 30px;
    color: #100F17;
    opacity: .4;
    padding: 20px 40px;
    border: thin solid;
}

.blog-wrapper .other-wrapper.read-paper p{
    display: block;
    width: auto;
    line-height: 30px;
    padding: 0;
    border: none;
}

.blog-wrapper .other-wrapper.read-paper span{
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    opacity: .2;
}

.blog-wrapper .other-wrapper.read-paper span.qr-tips{
    font-size: 14px;
    line-height: 14px;
}

.blog-wrapper .qr-img{
    text-align: center;
}


/*BLOG 结束*/



/*内容 结束*/














